/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("background.jpeg") center center no-repeat;
    background-size: cover;
  }
*/
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
  }
  
.header {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  margin: 0 auto;
  background-color: #fff;
  border: 10px solid #bfbfbf;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #eee;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #reset {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 10px;
  }
  
  .scoreboard {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    color: black;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
  }
  