.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 50px;
  }
  .cell {
    background-color: #ddd;
    font-size: 72px;
    text-align: center;
    vertical-align: middle;
  }
  